.profile__add-button {
  background-image: url(../../../images/addButton.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid #fff;
  width: 282px;
  min-height: 50px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    width: calc(302px*2);
    background-size: 22px 22px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-top: 37px;
  }
}