.line {
  border: none;
  border-top: 1px solid #545454;
  color: #333;
  overflow: visible;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .line {
    max-width: 880px;
    margin: auto;
  }
}